/* Header Section */
.header {
    /* border: solid; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-inline: 5%;
    position: fixed;
    width: 100%;
    height: 100px;
    z-index: 99;
    transition: 0.3s;
}

.header.sticky {
    background: white;
}

.header.sticky .header__title,
.header.sticky .header__nav li a {
    color: black;
}

.header.sticky .header__nav li:hover a {
    color: white;
}

.header__nav {
    /* border: solid; */
    display: flex;

}

.header__title {
    color: white;
}

.header__title span {
    color: var(--color-primary);
}

.zoom__travel {
    color: var(--color-primary);
}

.header__nav li {
    list-style: none;
    padding-inline: 1rem;
    padding-block: 0.5rem;
    border-radius: 99px;
    transition: 0.3s ease-out;
}

.header__nav li a {
    font-weight: 500;
    color: white;
    transition: 0.3s;
}

.header__nav li:hover {
    background: var(--color-primary);
}

.header__nav li:hover a {
    color: white;
}




/* Home */
.home {
    background: linear-gradient(to right, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(images/twin-lagon.jpg);
    min-height: 100dvh;
    background-size: cover;
    background-position: center;
    max-width: 100%;
    color: white;
    padding-top: 100px;
}

.home__content {
    max-width: 500px;
}

.home__content-btn {
    margin-top: 1rem;
}

.home__cards {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
}

.home__cards .home__card {
    min-width: 200px;
    height: 250px;
    border-radius: 1rem;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    align-items: end;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
    cursor: pointer;
}

.home__card-1 {
    background: url(images/penida-island.jpg);
    grid-row: span 2;
    align-self: center;
}

.home__card-2 {
    background: url(images/khao-sok.jpg);
}

.home__card-3 {
    background: url(images/koh-tonsay.jpg);
}

.home__card-title {
    /* border: solid; */
    width: 100%;
    height: 50%;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.5), transparent);
    border-radius: 1rem;
    display: flex;
    align-items: end;
    padding: 1rem;
    font-weight: 600;
}


/* About */
.about__small-title {
    color: var(--color-gray);
}

.about__cards {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
}

.about__cards .about__card {
    width: 200px;
    height: 250px;
    border-radius: 1rem;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    align-items: end;
}

.about__card-1 {
    background: url("images/khao-sok.jpg");
}

.about__card-2 {
    background: url("images/penida-island.jpg");
    grid-row: span 2;
    align-self: center;
    position: relative;

}

.about__card-2::before {
    content: "";
    width: 100%;
    height: 100px;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.5), transparent);
    border-radius: 1rem;
}

.about__card-2-plane-img {
    position: absolute;
    width: 150px;
    right: -60px;
    bottom: -40px;
}

.about__card-3 {
    background: url("images/koh-tonsay.jpg");
}


.about__stats {
    display: flex;
    margin-top: 1rem;
    gap: 1rem;
    flex-wrap: wrap;
}

.about__stat-btn-2 {
    background: white;
    color: var(--color-primary);
    border: solid 1.5px var(--color-primary);
}

.about__travel-img {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 220px;
    z-index: -1;
}

/* Destinations */
.destinations {
    background: linear-gradient(145deg, white 50%, #FFF7F5 100%);
}

.destinations__small-title {
    color: var(--color-gray);
}

.desttinations__content-btn {
    margin-top: 1rem;
}

.destinations__swiper {

    width: 80%;
    border-radius: 1rem;
}

.swiper-slide__container {
    height: 300px;
    margin-bottom: 2.5rem;
    margin-inline: 12px;
    position: relative;
    border-radius: 1rem;
    overflow: hidden;
    cursor: pointer;
}

.swiper-slide__container:hover img {
    transform: scale(1.1);
}

.swiper-slide__container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: 0.3s ease-out;
}

.swiper-slide__content {

    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 1rem;
    color: white;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.7), transparent);
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.swiper-slide__content-title {
    grid-column: span 2;
    font-weight: 600;
}

.swiper-slider__content-rating {
    justify-self: end;
}

.swiper-slider__content-rating i {
    color: #FFD600;
}

.swiper-button-prev,
.swiper-button-next {
    background: var(--color-primary);
    border-radius: 99px;
    padding: 12px;
    transform: translateY(-12px);
    color: white !important;
}

.swiper-pagination-bullet {
    background: var(--color-primary) !important;
}

/* Services */
.services__man-img {
    width: 300px;
}


.services_circle {
    background: var(--color-primary);
    width: 600px;
    height: 600px;
    position: absolute;
    left: -220px;
    top: 120px;
    z-index: -1;
    border-radius: 100%;
}

.services__cards {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-top: 1rem;
}

.services__card {
    border: solid 1.5px rgba(0, 0, 0, 0.1);
    padding: 1rem;
    border-radius: 16px;
    display: flex;
    align-items: center;
    gap: 1rem;
    background: white;
    cursor: pointer;
    transition: 0.3s;
}

.services__card:hover {
    background: var(--color-primary);
    color: white;
}

.services__card i {
    background: var(--color-primary);
    min-width: 50px;
    min-height: 50px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100%;
}

.services__card:hover i {
    background: rgba(255, 255, 255, 0.2);
}

/* Subscribe */
.subscribe__container {
    border: solid;
    display: flex;
    gap: 1rem;
    padding: 1.5rem;
    border-radius: 24px;
    width: 100%;
    background: linear-gradient(to right, rgba(0, 0, 0, 0.7), transparent 50%), url(images/khao-sok.jpg);
    color: white;
    object-fit: cover;
    background-position: center;
}

.subscribe__plane-img {
    min-width: 250px;
    max-width: 250px;
    margin-left: -80px;
}

.subscribe__input-container {
    /* border: solid; */
    display: flex;
    gap: 1rem;
    align-items: center;
    margin-top: 1rem;
    flex-wrap: wrap;
}

.subscribe__input {
    background: rgba(0, 0, 0, 0.3);
    padding-inline: 16px;
    padding-block: 8px;
    border: none;
    border-radius: 99px;
    color: white;
    outline: none;
}

.subscribe__input::placeholder {
    color: rgba(255, 255, 255, 0.7);
}


/* Footer */
.footer {
    background: #151515;
    width: 100%;
    padding-inline: 5%;
    padding-block: 2rem;
    color: white;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
}

.footer__menu-title {
    font-weight: 500;
}

.footer__menus {
    margin-top: 1rem;
    list-style: none;
}

.footer__menus li {
    width: fit-content;
}

.footer__menus li a {
    color: rgba(255, 255, 255, 0.7);
    cursor: pointer;
    font-weight: 400;
}
.footer__menus li:hover a {
    color: white;
}
.footer__divider {
    grid-column: span 3;
    width: 100%;
    height: 2px;
    background: rgba(255, 255, 255, 0.1);
    margin-top: 1rem;
}
.footer__copyright {
    grid-column: span 3;
    text-align: center;
    color: rgba(255, 255, 255, 0.7);
}



.header__menu {
    display: none;
}

@media screen and (max-width: 1024px) {
    .header__menu {
        display: block;
        font-size: 2rem;
        color: white;
        cursor: pointer;
    }

    .header.sticky .header__menu {
        color: black;
    }

    .header__menu .fa-xmark {
        display: none;
    }

    .header__nav {
        position: absolute;
        flex-direction: column;
        top: 100px;
        position: absolute;
        left: 0;
        background: white;
        width: 100%;
        padding-inline: calc(5% - 1rem);
        height: 0;
        overflow: hidden;
        transition: 0.3s ease-out;
        gap: 0.5rem;

    }

    .header__nav.active {
        height: 220px;
        padding-block: 1rem;
    }

    .header__nav.active~.header__menu .fa-bars {
        display: none;
    }

    .header__nav.active~.header__menu .fa-xmark {
        display: block;
    }

    .header__nav li {
        width: fit-content;
        margin-left: 0.5rem;
    }

    .header__nav li a {
        color: black;
    }

    /* Home */
    .home__cards {
        display: flex;
        overflow: auto;
        width: 112%;
        margin-inline: -6%;
        padding-inline: 5%;
        scrollbar-width: none;
    }

    .destinations__swiper {

        width: 100%;
        border-radius: 1rem;
    }

    /* Services */
    .services_circle {
        top: -220px;
    }

    .services__card {
        flex-wrap: wrap;
    }

    /* Subscribe */
    .subscribe__container {
        flex-direction: column-reverse;
    }
    /* Footer */
    .footer{
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }
    .footer__menus{
        margin-top: 0.5rem;
    }
}